@import './common.css';

.jrc{
    &-hover{
        &:hover &-visible{
          visibility: visible;
        }
    }
    &-ant-tree-no-children{
        .ant-tree-treenode{
            .ant-tree-switcher{
                display:none;
            }
        }
    }
    &-dargging{
        z-index: 20001;
    }
}